.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    padding: 4rem 1rem;
    margin: auto;
    width: 100%;

}

.form label{
    margin-left: 1rem;
}

.form button{
    width: 100%;
}

.form input , .form textarea{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.8rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    font-size: 1.05rem;
}

.form input::placeholder, .form textarea::placeholder{
    color: white;
    opacity: 0.6;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
}