.phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 1rem;
}

.icon {
  color: white;
  margin: 10px;
}

.icon:hover {
  color: darkgrey;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
